/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
　font-family: Arial;
}
body{
	margin-top: 50px;
}
header .navbar-nav{
	height: 60px;
	.site_title{
		font-size: 3em;
		a{
			color: white;}
	}
}
.container{
	padding-top: 50px;
	margin-bottom: 30px;
}
.btn{
	margin-top: 20px;
}
// 枠線・影の指定
.main_frame{
	border:0.5px solid black;
	border-radius: 5px;
	border-collapse: separate;
  	border-spacing: 0;
  	box-shadow: 2px 2px 3px #aaaaaa;
}
// 一覧画面
.topic_new{
	padding: 15px;
	@extend .main_frame;
	.btn{
		margin-top: 20px;
	}
}
.topic_index{
	padding: 15px;
	@extend .main_frame;
	.topic_title{
		border-bottom: 0.5px solid black;
	}
}

// スレッド内
.topic_show{
	padding: 15px;
	@extend .main_frame;
	.post_div{
		border-bottom: 0.5px solid black;
		.post_comment{
			font-size: 1.2em;
		}
	}
}
.post_new{
	padding: 15px;
	@extend .main_frame;
}